<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis核心配置文件-->
<configuration>
    <!--引入外部配置文件-->
    <properties resource="db.properties"/>
    <settings>
      <!--  &lt;!&ndash;标准日志输出&ndash;&gt;
        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--给实体类起别名-->
    <typeAliases>
        <typeAlias type="com.yzp.entity.User" alias="User"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--每个Mapper.xml都需要在Mybatis核心配置文件中注册-->
    <mappers>
       <mapper resource="com/yzp/mapper/UserMapper.xml"/>
        <!--<package name="com.yzp.mapper"/>-->
   </mappers>

</configuration>